@layer utilities {
  .text-white { color: var(--white) !important; }
  .text-white-50 { color: rgba(255,255,255,0.5) !important; }
  .text-center { text-align: center; }
  .fw-600 { font-weight: 600; }
  .mb-0 { margin-bottom: 0 !important; }
  .mb-10 { margin-bottom: 10px; }
  .mb-20 { margin-bottom: 20px; }
  .mb-30 { margin-bottom: 30px; }
}
